header{
    grid-area: header;
    background-color: $colorHeader;
}


nav{
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                padding: 20px;
                color: white;
            }
        }
    }

}