.nosotros {
    grid-area: nosotros;
    color: #4f421a;
    font-family: Georgia, 'Times New Roman', Times, serif; }
  
  .historiaTitulo {
    color: #4f421a;
    margin-right: 300px;
    margin-left: 300px;
    font-family: Georgia, "Times New Roman", Times, serif; }