main{
    grid-area: productos;

.productos{
    grid-area: productos;
    color: rgb(79, 66, 26);
    margin-right: 300px;
    margin-left: 300px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
}